
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoiPhanQuyen</title>
</head>
<body>
    <div> 
        <h2> Bạn Không Có Quyền Truy Cập @Html.ActionLink("Quay Lại","Login","Admin",null,null)</h2>
    </div>
</body>
</html>
