@using Car.Models
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    IEnumerable<SanPham> listNewCar = (IEnumerable<SanPham>)ViewBag.ListNewCar;
    // IEnumerable<SanPham> listNewCar = ViewBag.ListNewCar as IEnumerable<SanPham>;
}
@*banner*@
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h4></h4>
                <h2></h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h4></h4>
                <h2></h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
                <h4></h4>
                <h2></h2>
            </div>
        </div>
    </div>
</div>
@*end banenr*@
<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Xe Hot Mới Về</h2>
                    <a href="@Url.Action("DanhSachSp","SanPhams")">Xem Thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
       @Html.Partial("~/Views/Home/SanPhamMoi.cshtml",listNewCar)                                
        </div>
    </div>
</div>
@*intro*@
<div class="best-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Thông Tin Cửa Hàng</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <p>
                        Salon ô tô Car Luxyry được thành lập từ năm 2007, thuộc tập đoàn Bảo Tín, thương hiệu vàng nổi tiếng nhất nhì Việt Nam tại số 360 Trần Khát Chân, phường Thanh Nhàn, quận Hai Bà Trưng, thành phố Hà Nội.

                        Với hơn 10 năm kinh nghiệm kinh doanh xe hơi nhập khẩu, đặc biệt là những dòng xe siêu sang như Bentley, Rolls-Royce hay những dòng siêu xe tốc độ như Lamborghini, Ferrari, Sơn Tùng Auto luôn là điểm đến hàng đầu của khách hàng và các tín đồ mê xe. Hơn nữa, chúng tôi cũng phục vụ khách hàng những dòng xe đã qua sử dụng với những thương hiệu lớn nhỏ khác nhau.

                        Bên cạnh đó, Car Luxyry cũng hợp tác với Ceramic Pro - thương hiệu sơn xe phủ gốm đẳng cấp trên Thế giới nói chung và Việt Nam nói riêng, tạp chí Xe Hay, Autodaily,...khi cung cấp hình ảnh và video clip để đánh giá và quảng bá những chiếc xe hàng "hot" của chúng tôi.
                    </p>
                    <ul class="featured-list">
                        <li><a href="#"> Khánh Hàng Là "Thượng Đế "</a></li>
                        <li><a href="#"> Sản Phẩm Chất Lượng Hàng Đầu Việt Nam </a></li>
                        <li><a href="#"> Đội Ngũ Kĩ Sư Giàu Kinh Nghiệm </a></li>

                    </ul>

                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="~/Content/assets/images/about-1-570x350.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services" style=" background-image: url(/Content/assets/images/other-image-fullscren-1-1920x900.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Latest blog posts</h2>

                    <a href="blog.html">read more <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <a href="#" class="services-item-image"><img src="~/Content/assets/images/blog-1-370x270.jpg" class="img-fluid" alt=""></a>

                    <div class="down-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</a></h4>

                        <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <a href="#" class="services-item-image"><img src="~/Content/assets/images/blog-2-370x270.jpg" class="img-fluid" alt=""></a>

                    <div class="down-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h4>

                        <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <a href="#" class="services-item-image"><img src="~/Content/assets/images/blog-3-370x270.jpg" class="img-fluid" alt=""></a>

                    <div class="down-content">
                        <h4><a href="#">Aperiam modi voluptatum fuga officiis cumque</a></h4>

                        <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

